<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-group">
        <div class="card text-white bg-dark mt-5">
          <div class="card-header">
            <h2 class="text-center"> <%= @fight.first_player.player_name %></h2>
          </div>
          <div class="card-body">
            <%= image_tag @fight.first_player.image, class:"img-thumbnail mx-auto d-block" %>
            <% unless @fight.has_won %>
              <%= link_to 'Attack', play_path(player: "first_player"), remote: true, class:"btn btn-block btn-danger btn-lg mt-3" %>
            <% end %>
          </div>
        </div>
        <div class="card bg-danger text-white mt-5">
          <div class="card-header">
            <h2 class="text-center" id="battle">Winner : <%= @fight.has_won.player_name %></h2>
          </div>
          <div class="card-body" id="ring">
            <h2>Summary</h2>
            <%=  simple_format(@fight.summary) %>
          </div>
        </div>
        <div class="card bg-dark text-white mt-5">
          <div class="card-header">
            <h2 class="text-center"> <%= @fight.second_player.player_name %></h2>
          </div>
          <div class="card-body">
            <%= image_tag @fight.second_player.image, class:"img-thumbnail mx-auto d-block" %>
            <% unless @fight.has_won %>
              <%= link_to 'Attack', play_path(player: "second_player"), remote: true, class:"btn btn-block btn-danger btn-lg mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>