<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Soulcalibur</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="h-100 soul_bg">
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>